.stats
    .pull-left
        h4
            span.label.label-info Current Turn: {{teams[current.player]}}
    .center
        a.btn.btn-md.btn-default(href="#" ng-click="scoreboard()") View Scores
    .pull-right
        h4
            span.label.label-success {{score[current.player]}} Points

div(ng-repeat="(category, subCategory) in questions" style="width: {{width()}}%;").col
    .title(style="height: {{height()}}%;")
        span(ng-bind="category")
    ul.sub-categories(style="height: {{100-height()}}%;")
        li(ng-repeat="(points, question) in subCategory" data-id="{{id(category, points)}}" style="height: {{height()}}%;")
            span(ng-click="ask(category, points, question)" ng-bind="points")

.modal.fade#teamsMdl
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Choose the number of teams you'd like!
            .modal-body
                .input-group
                    span.input-group-addon: i.glyphicon.glyphicon-user
                    input.form-control(type="number" ng-model="intTeams" ng-enter="start(intTeams)" placeholder="Enter the number of teams")
            .modal-footer
                button.btn.btn-info(ng-click="start(intTeams)") Get Started

.modal.fade#questionMdl
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title "{{current.category}}" question for {{current.points}} points!
            .modal-body
                h3(ng-bind="current.question.question")
                h1.time(ng-bind="time")
            .modal-footer
                button.btn.btn-warning(ng-click="steal()") Steal!
                button.btn.btn-primary(ng-click="next()") View Answer &raquo;

.modal.fade#stealMdl
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Who's stealing?
            .modal-body
                button.btn.btn-block.btn-primary(ng-repeat="(index,team) in teams" ng-click="steal(index)") {{team}}
            .modal-footer
                button.btn.btn-primary(ng-click="next()") View Answer &raquo;

.modal.fade#answerMdl
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title "{{current.category}}" question for {{current.points}} points!
                button.close(type="button" data-dismiss="modal"): span &times;
            .modal-body
                h3(ng-bind="current.question.answer")
            .modal-footer
                button.btn.btn-success(ng-click="right()") Correct
                button.btn.btn-danger(ng-click="wrong()") Wrong

.modal.fade#scoreboard
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Scoreboard
                button.close(type="button" data-dismiss="modal"): span &times;
            .modal-body
                table.table.table-hover
                    thead
                        th Team
                        th Score
                    tbody
                        tr(ng-repeat="(team,tScore) in score track by team" ng-class="{ 'active': team === current.player }")
                            td(ng-bind="teams[team]")
                            td(ng-bind="tScore")
            .modal-footer
                button.btn.btn-default(ng-click="scoreboard()") Close

audio(preload)#think
    source(src="mp3/think.mp3" type="audio/mpeg")